:root {
    --primary-color: black;
    --secondary-color: white;
}



/* Navbar Styles */
@media (max-width: 830px) {
  .navbar {
    width: 97%;
  }
}

@media (min-width: 769px) {
  .navbar {
    width: 100%;
  }
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.884);
    padding: 0.5rem 1rem;
    margin: 5px;
    border-radius: 10px;
    position: fixed;
    border: 1px solid rgb(31, 31, 31);
    z-index: 9999;
  }
  
  .brand-title {
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links ul {
    display: flex;
    list-style: none;
  }
  
  .navbar-links li {
    margin: 0 1rem;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #00bcd4;
  }
  
  /* Toggle Button Styles */
  .toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .toggle-button .bar {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 3px 0;
  }

  .nav-button button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    background-color: #08d;
    color: var(--secondary-color);
    font-weight: 600;
  }

  .nav-button button a {
    text-decoration: none;
    color: white;
  }

  .nav-button button:hover {
    background-color: #06b;
  }

  .dropdown {
    background-color: rgb(20, 20, 20);
    padding: 10px;
    border-radius: 10px;
  }

  .dropdown:hover {
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    background-color: var(--primary-color);
    position: absolute;
    top: 50px;
    z-index: 999;
    border-radius: 10px;
  }

  .dropdown-content ul {
    display: block;
  }

  .dropdown-content ul li {
    background-color: rgb(22, 22, 22);
    border: 1px solid rgb(22, 22, 22);
    margin: 5px;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
  }

  .dropdown-content ul li:hover {
    background-color: black;
    border: 1px solid rgb(22, 22, 22);
  }

  .mobile-book-button {
    display: none;
  }

  .dropdown-content ul li {
    padding: 10px;
  }

  /* Responsive Styles */
  @media (max-width: 830px) {
    nav {
      height: 60px;
    } 
    .brand-title {
      font-size: 1rem;
    }
    .mobile-book-button {
      display: block;
      position: absolute;
      left: 60%;
    }

    .mobile-book-button button {
      padding: 5px;
      font-size: 0.8rem;
      border-radius: 5px;
      border: 1px solid var(--primary-color);
      background-color: #08d;
      color: var(--secondary-color);
      font-weight: 600;
    }

    .toggle-button {
      display: flex;
      position: absolute;
      left: 90%;
    }
  
    .nav-button {
        display: none;
    }
    .navbar-links {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.5s;
      flex-direction: column;
      width: 100%;
      background-color: var(--primary-color);
      position: absolute;
      top: 60px;
      left: 0;
      text-align: center;
      border-radius: 10px;
      z-index: 999;
      max-height: 0;
  }
  
  .navbar-links.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      max-height: 500px; /* Adjust this value based on the content height */
  }
  
  
    .navbar-links ul {
      flex-direction: column;
      width: 100%;
    }
  
    .navbar-links li {
      margin: 1rem 0;
    }

    .dropdown-content {
        top: 150px;
        width: 100%;
        border-radius: 10px;
    }
  }
